<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cuexpo.cuexpo2017">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:hardwareAccelerated="true"
        android:name="cuexpo.cuexpo2017.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id2" />

        <activity android:name="cuexpo.cuexpo2017.activity.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cuexpo.cuexpo2017.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity" android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="cuexpo.cuexpo2017.activity.RoleActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.activity.RegisAdultActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.activity.RegisStudentActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.activity.InterestActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.activity.DoneRegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.activity.StageActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.activity.FavouriteActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.activity.ReservedActivity" android:screenOrientation="portrait"/>
        <activity android:name="cuexpo.cuexpo2017.adapter.ScannerActivity" android:screenOrientation="portrait"/>

        <meta-data
            android:name="cuexpo.cuexpo2017.configuration.GlideConfiguration"
            android:value="GlideModule" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAY84UvXm-fLC6xkNN6tq9I30XAhKrQ124" />

    </application>

</manifest>